/* Page Header Styles */
.pageHeader {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #000000;
}

/* Nav Styles */
.navList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}