/* Nav Styles */
.nav,
.navList {
  display: flex;
  justify-content: space-around;
}

.navList {
  width: 100%;
  list-style-type: none;
}

@media only screen and (max-width: 599px) {
  .nav {
    display: block;
  }
}