.languageSelect {
  display: flex;
  align-items: center;
}

.dropdown {
  width: 18rem;
}

.dropdownImage {
  margin-right: 10px;
}

.dropdownDisplay {
  display: inline;
}

@media only screen and (max-width: 599px) {
  .languageSelect {
    justify-content: center;
  }
}