/* Content Box Styles */
.boxContainer > div {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
  padding: 1rem 3rem;
  border: 3px solid #000000;
}

.boxContainer > div:first-of-type {
  margin-top: 1rem;
}

.boxContainer > div:last-of-type {
  margin-bottom: 2rem;
}

.boxContainer > section > h3 {
  margin-top: 2rem;
}

.boxContainer h3 {
  text-align: center;
}

.boxContent {
  width: 50%;
}

.boxContent h4 {
  margin-top: 0;
}

.boxImage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;
}

.boxImage img {
  min-width: 150px;
  object-fit: contain;
}